@charset "UTF-8";
menuButton
body
{
	background-color: #FFA07A;
}
.menuButton button
{
	background-color: olive;
	color: white;
	padding: 10px 15px;
	margin: 8px 0;
	border: double;
	cursor: pointer;
	width: 100%;
}